html,
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: black;
}

canvas {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}