@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    font-family: "Poppins";
    font-size: 15px;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

a {
    color: #4260f5;
    text-decoration: none;
}

.wrapper {
    min-height: 100vh;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    gap: 40px;
    padding: 40px;
    box-sizing: border-box;
}

.card {
    width: 500px;
    min-height: 280px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 30px;
    box-sizing: border-box;

    text-align: center;
}

.card h2 {
    margin-bottom: 15px;
}

.card p {
    line-height: 1.5;
}

.card img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 20px;
}

.card ul {
    padding-left: 10px;
}